<app-header></app-header>
<div class="wrapper">
      <body>
        <div class="middle">
          <div (click)="chat()" class="card bg-black singleCard">
            <img src="../../assets/mic.png" class="card-img-top singleCardImg" alt="..." >
            <div class="card-body">
              <h1 class="card-text  neonPink nPinkSize">Chat</h1>
            </div>
          </div>
          <div (click)="game()" class="card  bg-black singleCard">
            <img src="../../assets/pong.png" class="card-img-top singleCardImg" alt="...">
            <div class="card-body">
              <h1 class="card-text  neonPink nPinkSize">Pong</h1>
            </div>
          </div>
          <div (click)="rpsGame()" class="card bg-black singleCard">
            <img src="../../assets/cheers.png" class="card-img-top singleCardImg" alt="...">
            <div class="card-body">
              <h1 class="card-text  neonPink nPinkSize" >RBC </h1>
            </div>
          </div>
        </div>
      </body>
  </div>
